.main {
  background-color: #F4F7FC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-black {
  color: black;
}
.d-none{
  display: none;
}
.d-block{
  display: block;
}

nav,
footer {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: #FB3E3E;
  cursor: pointer;
}

.menus {
  list-style: none;
}

.menus a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
  padding: 10px 20px;
  transition: all .5s ease-in;
  border-radius: 5px;
}

.menus a:hover {
  background-color: #f95050;
  color: white;
}

.active {
  background-color: #f95050;
  color: white;
}

.user-section {
  max-width: 1445px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 40px;
  overflow: hidden;
  padding: 20px;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card h3,
h4,
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.details-btn {
  background-color: #f95050;
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
}
.details-section{
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 5px 30px rgb(213, 211, 211);
}
.details-section> div{
  min-width: 400px;
}
.details-section>div h4{
  margin-top: 20px;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination p{
  padding: 2px 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all .5s ease-in;
  border-radius: 3px;
}

.pagination p:hover{
  background-color: #f95050;
  color: white;
}

.pagination button{
  margin: 0 5px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.pagination .selected{
  background-color: #f95050;
  color: white;
}